<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/common/style.css}">
    <link rel="stylesheet" th:href="@{/sign-in/style.css}">
</head>
<body>

<header th:replace="common/header :: header"></header>

<main class="main modal">
    <div class="container">
        <form class="row" th:action="@{/sign-in}" method="post">
            <div class="col-6 offset-3 form row g-3">
                <div class="col-3">
                    <label for="inputEmail" class="form-label">Email:</label>
                </div>
                <div class="col-9">
                    <input type="email" class="form-control" id="inputEmail" name="email" placeholder="email">
                    <span th:if="${emailError != null}" th:text="${emailError}" style="color: red"></span>
                </div>
                <div class="col-12 justify-content-end">
                    <button type="submit" class="btn btn-primary float-end">Sign in</button>
                </div>
            </div>
        </form>
    </div>
</main>

</body>
</html>