.button-group > button {
    margin: 0 10px;
    padding: 5px 30px;
}

.table {
    background: #F0F0F0;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

th, td {
    padding: 15px !important;
}

.create-btn {
    position: relative;
    top: 24px;
}

.editor-action__buttons {
    display: flex;
}