.opportunity {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    padding: 30px;
    background-color: #F8F8F8;
}

.custom-tooltip {
    --bs-tooltip-bg: var(--bs-primary);
}

.heading {
    font-weight: 800;
    text-align: center;
}