<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/common/style.css}">
    <link rel="stylesheet" th:href="@{/profile/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>

<header th:replace="common/header :: header"></header>

<div class="container">
    <div class="row">
        <div class="col-6 border-end">
            <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 col-4 position-fixed">
                <nav class="nav nav-pills flex-column form mt-5">
                    <form class="row g-3" th:action="@{/profile/save}" method="post" th:object="${user}">
                        <div class="col-3">
                            <label for="inputFirstName" class="form-label">First Name</label>
                        </div>
                        <div class="col-9">
                            <input type="text" class="form-el form-control" id="inputFirstName" placeholder="Олексій"
                                   disabled
                                   th:field="*{firstName}">
                        </div>
                        <div class="col-3">
                            <label for="inputLastName" class="form-label">Last Name</label>
                        </div>
                        <div class="col-9">
                            <input type="text" class="form-el form-control" id="inputLastName" placeholder="Алещенко"
                                   disabled
                                   th:field="*{lastName}">
                        </div>
                        <div class="col-3">
                            <label for="inputEmail" class="form-label">Email</label>
                        </div>
                        <div class="col-9">
                            <input type="email" class="form-el form-control" id="inputEmail" placeholder="Email"
                                   disabled
                                   th:field="*{email}">
                            <span th:if="${emailError != null}" th:text="${emailError}" style="color: red"></span>
                        </div>
                        <div class="col-3">
                            <label for="inputPhone" class="form-label">Phone</label>
                        </div>
                        <div class="col-9">
                            <input type="text" class="form-el form-control" id="inputPhone" placeholder="@ASDjonok"
                                   disabled
                                   th:field="*{phone}">
                        </div>
                        <div class="col-3">
                            <label for="inputAge" class="form-label">Age</label>
                        </div>
                        <div class="col-9">
                            <input type="text" class="form-el form-control" id="inputAge" placeholder="25" disabled
                                   th:field="*{age}">
                        </div>
                        <div class="col-3">
                            <label for="inputState" class="form-label">Skills:</label>
                        </div>
                        <div class="col-9">
                            <select id="inputState" class="form-select" multiple disabled>
                                <option th:each="skill : ${user.skills}"
                                        th:value="${skill.type}"
                                        th:text="${skill.type}">
                                </option>
                            </select>
                        </div>

                        <div class="profile-editing-buttons">
                            <button type="button" id="activateEditing" class="btn btn-primary"
                                    onclick="removeDisableAttributes()">Edit profile
                            </button>
                            <button type="submit" id="saveChanges" class="form-el btn btn-secondary" disabled>Save</button>
                        </div>
                    </form>
                </nav>
            </nav>
        </div>

        <div class="col-6 mt-5">
            <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true"
                 class="scrollspy-example-2" tabindex="0">
                <section class="opportunities">
                    <div class="container">
                        <div class="row">
                            <div class="col-10 offset-1">
                                <div class="opportunity" th:each="opportunity : ${user.likedOpportunities}">
                                    <div class="row">
                                        <div class="col-6">
                                            <p class="heading" th:text="${opportunity.name}"></p>
                                        </div>
                                        <div class="col-6 liked">
                                            <i class="fa-solid fa-star float-end"></i>
                                        </div>
                                        <div class="col-12">
                                            <p>Content:</p>
                                        </div>
                                        <div class="col-12">
                                            <p th:text="${opportunity.content}"></p>
                                        </div>
                                        <div class="col-12">
                                            <form th:action="@{'/profile/unlike/' + ${opportunity.id}}" method="post">
                                                <button type="submit" class="btn btn-primary float-end"
                                                        style="background: gray; border-color: gray">
                                                    Unlike
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<script>
    function removeDisableAttributes() {
        for (const el of document.getElementsByClassName("form-el")) {
            el.removeAttribute("disabled")
        }

        const activateEditingBtn = document.getElementById("activateEditing");
        activateEditingBtn.classList.remove("btn-primary");
        activateEditingBtn.classList.add("btn-secondary");
        activateEditingBtn.setAttribute("disabled", "true");

        const saveChangesBtn = document.getElementById("saveChanges");
        saveChangesBtn.classList.remove("btn-secondary");
        saveChangesBtn.classList.add("btn-primary");
    }
</script>

</body>
</html>