* {
    font-family: 'GFS Neohellenic', monospace;
}

a {
    text-decoration: none;
}

/* header content */

header {
    position: fixed;
    z-index: 1;
    top: 0;
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-bottom: 2px solid #F0F0F0;
    width: 100%;
    background-color: white;
}

.btn-link {
    margin: 0 !important;
    padding: 5px 15px !important;
    color: #797979;
    text-decoration: none;
}

.btn-link:hover, .btn-link:active {
    color: #594BFF !important;
}

.btn-outline-primary {
    border-color: #594BFF;
    color: #594BFF;
}

.btn-primary {
    border-color: #594BFF;
    background-color: #594BFF;
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active {
    border-color: #443bbd !important;
    background-color: #fbf9ff !important;
    color: #443bbd !important;
}


.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    border-color: #443bbd !important;
    background-color: #443bbd !important;
}

.button-group {
    display: flex;
    justify-content: flex-end;
}

button {
    margin: 0 10px !important;
    padding: 5px 30px !important;
}

.container{
    margin-top: 50px;
}