<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit opportunities</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/common/style.css}">
    <link rel="stylesheet" th:href="@{/opportunities/edit.css}">
</head>
<body>

<header th:replace="common/header :: header"></header>

<section class="search mt-5">
    <hr>
    <div class="container">
        <div class="row justify-content-center align-content-center">
            <div class="col-6">
                <label for="searchOpportunities" class="form-label"></label>
                <input class="form-control" id="searchOpportunities" placeholder="Type to search...">
            </div>
            <div class="col-2 position-relative">
                <div class="dropdown position-absolute bottom-0 end-0">
                    <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Options
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Newest</a></li>
                        <li><a class="dropdown-item" href="#">ASAP</a></li>
                        <li><a class="dropdown-item" href="#">Deadline soon</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr class="mt-5">
</section>

<section class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-10">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Deadline</th>
                    <th scope="col">ASAP</th>
                    <th scope="col">Caption</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="opportunity : ${opportunities}">
                    <td th:text="${opportunity.name}"></td>
                    <td th:text="${opportunity.deadline}"></td>
                    <td th:text="${opportunity.ASAP}"></td>
                    <td th:text="${opportunity.content}"></td>
                    <td>
                        <a th:href="@{'/opportunities/edit/' + ${opportunity.id}}">
                            <button type="button" class="btn btn-outline-primary">Edit</button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>
</html>