.opportunity{
    background-color: #F8F8F8;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    padding: 30px;
    margin-bottom: 20px;
}
.form{
    background-color: #F0F0F0;
    border-radius: 12px;
    padding: 30px;
    height: auto;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.liked{
    color: #F5B700;
    font-size: 30px;
}

.profile-editing-buttons {
    display: flex;
    justify-content: flex-end;
}