<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<form th:action="@{/opportunities/create}" method="post" th:object="${opportunityToCreate}" class="form">

  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="content" th:field="*{content}" placeholder="Content" autofocus/>
    <label for="content">Content</label>
  </div>

  <button type="submit" class="btn btn-primary">Update</button>
</form>

</body>
</html>