.info-wrapper{
    display: flex;
    justify-content: center;
    border-radius: 12px;
    width: 100%;
    background-color: #F0F0F0;
}

.info{
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    padding: 30px;
    background-color: #F8F8F8;
}

.heading{
    font-weight: 800;
    text-align: center;
}